/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}*/

.App-header {
  background-color: #222;
  height: 15vh;
  padding: 2vw;
  color: white;
}

.App-footer {
  background-color: #222;
  height: 10vh;
  padding: 2vw;
  color: white;
}

.logo {
  float: left;
}

#login {
  float: right;
  color: white;
  border: 1px solid white;
}

#nav h3 {
  float:right;
  margin-right: 5vw;
}

.footer-social {
  float: right;
}

#about, #apiSearch, #myLists, #community {
  margin: 10vw;
}

/*.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
