/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}*/

body {
  background-color: #eee;
}

.App-header {
  background-color: #222;
  height: 15vh;
  padding: 2vw;
  color: white;
}

.App-header h3 {
  text-align: left;
  width: auto;
  display: inline-block;
}

.App-footer {
  background-color: #222;
  height: 10vh;
  padding: 2vw;
  color: white;
}

.logo {
  float: left;
}

#login, #signUp{
  float: right;
  color: white;
  border: 1px solid white;
  margin-left: 1vw;
}

#nav h3 {
  float:right;
  margin-right: 5vw;
}

.footer-social {
  float: right;
  text-align: right;
}

.footer-social a {
  margin-right: 1vw;
}

#about, #apiSearch, #myLists, #community, #communityMemberAllLists, #communityMemberSingleList {
  margin: 10vw;
}

#communityMemberSingleList {
  width: 80%;
  height: auto;
  text-align: center;
}

#communityMemberSingleListEachMovie {
  display: inline-block;
  width: 30%;
  height: 10%;
}

#signUpForm {
  color: black;
  text-align: center;
}

#loginForm {
  color: black;
  text-align: center;
}

#addToMyLists {
  color: black;
  text-align: center;
  background-color: #999;
}

#addMoviePoster {
  width: 30vw;
}

#movieList {
  width: 30%;
  display: inline-block;
  margin: 1%;
  padding: 1%;
  text-align: center;
  background-color: #bbb;
  border-radius: 5%;;
}

#movieSearchResult {
  width: 30%;
  display: inline-block;
}

.navLinks {
  color: white;
}

.navLinks:hover {
  color: #999;
}

.card {
  padding: 2vh;
  margin: 2vh;
}

.card-title {
  text-align: center;
}

#addToListButton {
  margin-top: .5vh;
}

/*.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
