/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}*/

body {
  background-color: #eee;
}

.App-header {
  background-color: #222;
  height: 15vh;
  padding: 2vw;
  color: white;
}

.App-footer {
  background-color: #222;
  height: 10vh;
  padding: 2vw;
  color: white;
}

.logo {
  float: left;
}

#login, #signUp{
  float: right;
  color: white;
  border: 1px solid white;
  margin-left: 1vw;
}

#nav h3 {
  float:right;
  margin-right: 5vw;
}

.footer-social {
  float: right;
}

#about, #apiSearch, #myLists, #community {
  margin: 10vw;
}

#signUpForm {
  color: black;
  text-align: center;
}

#loginForm {
  color: black;
  text-align: center;
}

.navLinks {
  color: white;
}

.navLinks:hover {
  color: #999;
}

.card {
  padding: 2vh;
  margin: 2vh;
}

.card-title {
  text-align: center;
}

#addToListButton {
  margin-top: .5vh;
}

/*.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
